body{
    color: black;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://wallpapercave.com/wp/wp4190028.jpg);
}
.buttoncontainer{
    display: flex;
    justify-content: center;
}
.btn{
    width: 10%;
    height: 40px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gray;
    opacity: 70%;
}
.maincontainer{
    margin-top: 200px;
    text-align: center;
    width: 50%;
    height:250px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    opacity: 50%;
    background-color: lightgray;
}
.biggercontainer{
    display: flex;
    justify-content: center;
    height: 100%;
}
.location{
    color: black;
    font-weight: bold;
    opacity: 100%;
}